<div class="container" *ngIf="cvData">
    <div class="half-width-area">
        <!-- Header -->
        <mat-card id="header">
            <mat-card-content fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
                <div fxFlex="20">
                    <img class="avatar" src="assets/img/avatar.jpg">
                </div>
                <div fxFlex class="vertical-center">
                    <h1>{{ cvData.labels.name }}</h1>
                    <h2>{{ cvData.labels.profession }}</h2>
                </div>
            </mat-card-content>
        </mat-card>
        <!-- Languages/contact info -->
        <div class="inner-row">
            <div class="half-width-area">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{ cvData.labels.spokenLanguages }}</mat-card-title>
                        <mat-icon mat-card-avatar>language</mat-icon>
                    </mat-card-header>
                    <div *ngFor="let language of cvData.languages" class="icon-list-element">
                        <img src="assets/img/flags/{{language.name}}.png" class="icon-list-icon">
                        <span class="icon-list-text">{{language.label}} - {{language.level}}</span>
                    </div>
                </mat-card>
            </div>
            <div class="half-width-area">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{ cvData.labels.contacts }}</mat-card-title>
                        <mat-icon mat-card-avatar>chat</mat-icon>
                    </mat-card-header>
                    <div *ngFor="let contact of cvData.contacts" class="icon-list-element">
                        <mat-icon *ngIf="!contact.icon.startsWith('icons/')" class="icon-list-icon">{{contact.icon}}</mat-icon>
                        <img *ngIf="contact.icon.startsWith('icons/')" class="icon-list-icon" src="assets/img/{{contact.icon}}">
                        <span *ngIf="!contact.link" class="icon-list-text">{{contact.value}}</span>
                        <span *ngIf="contact.link" class="icon-list-text">
                            <a href="https://{{contact.value}}" target="_blank">{{contact.value}}</a>
                        </span>
                    </div>
                </mat-card>
            </div>
        </div>

        <!-- Specialties -->
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ cvData.labels.specialties }}</mat-card-title>
                <mat-icon mat-card-avatar>favorite_border</mat-icon>
            </mat-card-header>
            <div *ngFor="let specialty of cvData.specialties" class="specialty-element">
                <h3><img class="specialty-image" src="assets/img/{{specialty.img}}">{{specialty.title}}</h3>
                <p>{{specialty.description}}</p>
                <h5>{{ cvData.labels.references }}</h5>
                <div class="specialty-reference-area">
                    <div class="specialty-reference-element" *ngFor="let reference of specialty.references">
                        <a [href]="reference.url" target="_blank"><img class="specialty-reference-image" src="assets/img/companies/{{reference.img}}"></a>
                        <a [href]="reference.url" target="_blank">{{ reference.title }}</a>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
 
    <div class="half-width-area">
        <!-- Timeline -->
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ cvData.labels.timeline }}</mat-card-title>
                <mat-icon mat-card-avatar>work</mat-icon>
            </mat-card-header>
            <app-timeline [timelineElements]="cvData.timelineElements"></app-timeline>
        </mat-card>

        <!-- Technologies -->
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ cvData.labels.technologies }}</mat-card-title>
                <mat-icon mat-card-avatar>build</mat-icon>
            </mat-card-header>
            <mat-chip-list>
                <mat-chip *ngFor="let technology of cvData.technologies">{{technology}}</mat-chip>
            </mat-chip-list>
        </mat-card>

        <!-- Motivation -->
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ cvData.labels.motivation }}</mat-card-title>
                <mat-icon mat-card-avatar>build</mat-icon>
            </mat-card-header>
            <p>{{ cvData.motivation }}</p>
        </mat-card>

        <!-- Offers -->
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ cvData.labels.offers }}</mat-card-title>
                <mat-icon mat-card-avatar>build</mat-icon>
            </mat-card-header>
            <ul>
                <li *ngFor="let offer of cvData.offers">
                    <span class="offer-title">{{ offer.title }}</span><br>{{ offer.description }}
                </li>
            </ul>
        </mat-card>

        <!-- Demands -->
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ cvData.labels.demands }}</mat-card-title>
                <mat-icon mat-card-avatar>build</mat-icon>
            </mat-card-header>
            <ul>
                <li *ngFor="let demand of cvData.demands">
                    <span class="demand-title">{{ demand.title }}</span><br>{{ demand.description }}
                </li>
            </ul>
        </mat-card>
    </div>
</div>