$idovonal-datum-gomb-atmero: 40px;
$vonal-vastagsag: 2px;
$osszekoto-vonal-hossz: 20px;
$idovonal-elem-padding: 5px;

.idovonal {
    border-left: 2px solid #000;
    margin-left: $idovonal-datum-gomb-atmero / 2 + $vonal-vastagsag;
    padding: 20px 10px 20px $osszekoto-vonal-hossz - $vonal-vastagsag;
}

.idovonal-elem {
    border: 2px solid #000;
    border-radius: 10px;
    width: max-content;
    max-width: 100%;
    min-width: 300px;
    padding: $idovonal-elem-padding;
    margin-bottom: 15px;
    &:after {
        content: "";
        height: 5px;
        width: $osszekoto-vonal-hossz;
        border-top: $vonal-vastagsag solid #000;
        position: relative;
        left: - $idovonal-elem-padding - $osszekoto-vonal-hossz;
        display: block;
        top: -30px;
    }
}

.idovonal-datum-gomb {
    width: $idovonal-datum-gomb-atmero;
    height: $idovonal-datum-gomb-atmero;
    display: flex;
    border: $vonal-vastagsag solid #000;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.idovonal-cim {
    font-weight: 800;
}

.idovonal-kep {
    float: left;
    height: 60px;
    margin-right: 10px;
}